.container {
  display: grid;
  grid-template-columns: 30% 70%;
}

.emptyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;

  h1 {
    font-size: 7rem;
  }
}
